@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 15px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #ddd;
    background-color: gray;
}

.logo {
    color: red;
}

.logo span {
    color: white;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline;
    margin-left: 40px;
}

.navbar ul li a {
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bold;
}